.navbar {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .left,
  .right {
    display: flex;
    align-items: center;
  }
  
  .left i,
  .right span {
    margin-right: 5px;
  }
  
  .right label {
    margin-left: 10px;
  }
  
  .RText label {
    margin-right: 10px;
  }
  